<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CFDSA Pre Course Assignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cfdsa_precourse_assignment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="row align-items-center">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted text-center">
        <div class="container">
            Repository <a href="https://github.com/renjithgk/cfdsa-precourse">https://github.com/renjithgk/cfdsa-precourse</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
